<header class="header py-12">
	<div class="container">
		<div class="flex gap-20">
			<a href="/" class="flex justify-between items-end pt-3 gap-4">
				<img src="@img/icons/logo.svg" alt="logo" class="mw-100" />
				<p class="font-lato text-dark leading-4 max-w-32">
					YOUR COMPLIANCE ASSISTANT
				</p>
			</a>
			<nav class="hidden lg:flex">
				<ul
					class="flex justify-between uppercase text-sm leading-7 text-red gap-14"
				>
					<li class="">
						<a href="" class="">Our Services</a>
					</li>
					<li class="">
						<a href="" class="">Quick Consultation Options</a>
					</li>
					<li class="">
						<a href="" class="">Key Quality Management Systems </a>
					</li>
					<li class="">
						<a href="" class="">Why Choose QMS2Go?</a>
					</li>
				</ul>
			</nav>
			<button type="button" class="lg:hidden burger">
				<span
					class="relative w-100 h-100 flex lg:hidden justify-center items-center"
				>
					<span></span>
				</span>
			</button>
		</div>
	</div>
</header>
